#readout{
    position: absolute;
    bottom :0;
    right: 0;
    background: rgba(100, 255, 255, .2);
    padding: 5px;
    font-size: .8rem;
    z-index: 9;
    pointer-events: none;
}
.control{
	cursor: pointer;
	display: inline-block;
	padding: 20px;
	border: 1px solid;
	position: relative;
	user-select: none;
}

.control.selected{
	background: lightpink;
}

.remove{
	position: absolute;
	width: 20px;
	height: 20px;
	display: flex;
	top: -5px;
	right: -5px;
	background: red;
	align-items: center;
	justify-content:center;
	cursor: pointer;
}

.control.trash{
	opacity: .5;
	pointer-events: none;
	float:  right;
}

#builder{
	position: absolute;
	padding: 20px;
	background: firebrick;
	bottom: 10px;
	cursor: pointer;
}

